# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/

# User settings
[Uu]ser[Ss]ettings/

# Unity cache
[Pp]ackageCache/
[Bb]urst.Generated/

# Visual Studio / Rider / VSCode
*.csproj
*.sln
*.user
*.pidb
*.pdb
*.mdb
*.opendb
*.unitypackage
.vscode/

# Additional Unity auto files
sysinfo.txt
*.stacktrace
*.ide
